<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBolditalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Medium.ttf</string>
		<string>OpenSans-MediumItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-SemiBoldItalic.ttf</string>
		<string>Prompt-Black.ttf</string>
		<string>Prompt-BlackItalic.ttf</string>
		<string>Prompt-Bold.ttf</string>
		<string>Prompt-BoldItalic.ttf</string>
		<string>Prompt-ExtraBold.ttf</string>
		<string>Prompt-ExtraBoldItalic.ttf</string>
		<string>Prompt-ExtraLight.ttf</string>
		<string>Prompt-Italic.ttf</string>
		<string>Prompt-LightItalic.ttf</string>
		<string>Prompt-Medium.ttf</string>
		<string>Prompt-MediumItalic.ttf</string>
		<string>Prompt-Regular.ttf</string>
		<string>Prompt-SemiBold.ttf</string>
		<string>Prompt-SemiBoldItalic.ttf</string>
		<string>Prompt-Thin.ttf</string>
		<string>Prompt-ThinItalic.ttf</string>
		<string>SFProDisplay-Heavy.ttf</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
